* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.splash-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fbfdfc;
    animation: animate 10s forwards infinite;
    z-index: 10;
}

#splash-logo {
    width: 100%;
}

@keyframes animate {
    0%,
    25%,
    50%,
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

body {
    font-family: Arial;
    background: #fbfdfc;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    animation: fadeIn 1s forwards;
    animation-delay: 7s;
}

@keyframes fadeIn {
    100% {
        padding: 10px;
        margin: 8px;
        overflow: visible;
        background: #f1f1f1;
    }
}

.header {
    padding: 30px;
    text-align: center;
    background-image: radial-gradient(rgb(255, 255, 255), rgba(250, 184, 236, 0.397), rgba(255, 60, 151, 0.322));
}

.header h1 {
    font-size: 50px;
}

#logo-head {
    width: 45vw;
    height: 25vw;
}

.topnav {
    overflow: hidden;
    background-color: rgb(255, 92, 168);
    color: white;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.card {
    /* background-color: white; */
    background-image: radial-gradient(rgb(255, 255, 255), rgba(250, 184, 236, 0.397), rgba(255, 60, 151, 0.322));
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.card1 {
    background-color: #aaa;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 40px;
    text-align: center;
    background-image: radial-gradient(rgb(255, 255, 255), rgba(250, 184, 236, 0.397), rgba(255, 60, 151, 0.322));
    margin-top: 20px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    object-fit: scale-down;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

.decoration-index {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 25%;
}

.decoration-index>div:hover {
    cursor: pointer;
}

.deco-category {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    object-fit: contain;
    margin: 2%;
}

.deco-title {
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    align-self: center;
    width: 95%;
    font-size: 22px;
}

#balloon {
    background-image: url("Assets/Decorations/BalloonDecorations/09.jpeg");
    background-size: contain;
}

#wedding {
    background-image: url("Assets/Decorations/HomeWedding/03.jpeg");
    background-size: contain;
}

#lighting {
    background-image: url("Assets/Decorations/LightingDecorations/08.jpeg");
    background-size: contain;
}

#themed {
    background-image: url("Assets/Decorations/ThemedDecorations/the_Carnival-Party-Decorations-Room-Horizontal-Full-600x400.jpg");
    background-size: contain;
}

#surp-promo {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
}

#surp-promo>div {
    min-width: 49%;
    margin-top: 20px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #fff; */
    background-image: radial-gradient(rgb(255, 255, 255), rgba(250, 184, 236, 0.397), rgba(255, 60, 151, 0.322));
}

@media screen and (max-width: 1200px) {
    #surprise {
        width: 100%;
    }
    #promotion {
        width: 100%;
    }
}

#indoor {
    background-image: url("Assets/Surprises/doorstep-01-01.jpeg");
    background-size: contain;
}

#outdoor {
    background-image: url("Assets/Surprises/famous street-01-01.jpeg");
    background-size: contain;
}

#promote {
    background: #ddd;
}