* {
    box-sizing: border-box;
  }
  
  h1{
      text-align: center;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  .topnav {
    overflow: hidden;
  background-color: rgb(255, 60, 151);
  color: white;
  }
  
  .topnav a {
    float: left;
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 40px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
