* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #ffffff;
}

.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(255, 60, 151);
    color: white;
}

#page-head {
    width: 20vw;
    height: 20vw;
}

.topnav a {
    background-color: rgb(255, 60, 151);
    color: white;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.myForm {
    border: solid rgb(255, 60, 151);
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

button {
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid rgb(255, 60, 151);
    background: rgb(255, 60, 151);
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.formFields {
    padding: 40px;
}

.formFields input,
.formFields textarea {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background: #d0dfe8;
}

.formFields textarea {
    resize: none;
}

 ::placeholder {
    color: rgb(255, 60, 151);
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#surprise-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.surprise-holder {
    max-width: 700px;
    width: 100%;
    padding: 1vh 4vh 1vh 4vh;
    margin: 1vh 0 1vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-image: radial-gradient(rgba(255, 209, 236, 0.89), rgb(250, 219, 243), rgb(255, 255, 255));
}

.surprise-thumbnail {
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
    width: 10vw;
    height: 10vw;
}

.surprise-description {
    margin: 5%;
    width: 70%;
}

.surp-content {
    display: flex;
    flex-direction: row;
}

.surprise-description>button {
    background-color: deeppink;
    color: white;
    width: 100%;
    max-width: 300px;
}

.footer {
    padding: 40px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.deco-body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.deco-item {
    margin: 5% 4% 5% 4%;
    background-image: radial-gradient(rgb(255, 137, 229), rgba(255, 167, 236, 0.397), rgba(255, 255, 255, 0.322));
    padding: 4%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 8px;
    width: 80%;
    align-self: center;
    justify-self: center;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}

.column img {
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 1300px) {
    #surprise-body {
        justify-content: center;
        font-size: smaller;
    }
    .surprise-holder {
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .surprise-thumbnail {
        height: 10vw;
        width: 10vw;
    }
    .surprise-description {
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    #surprise-body {
        justify-content: center;
        font-size: smaller;
    }
    .surprise-holder {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .surprise-thumbnail {
        height: 30vw;
        width: 30vw;
    }
    .surprise-description {
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}